.mainBody {
    background-color: #d4e4ff; /* Light Blue */
}

.homeTextBox {
    height: 35px;
    width: 346px;
    position: relative;
    border: 2px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .14);
    background-color: AliceBlue;
    font-size: 18px;
}

.mainHeader {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 36px;
    padding-bottom: 0px;
}

.searchItems {
    height: 10em;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center; 
}

.homeSearchBtn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 59px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.feelingLuckyBtn {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.childPageHeader {
    display: flex;
    align-items: center;
    justify-content: center; 
}